.detailPage__ {
    &content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 70%;
        min-height: 80vh;
        margin: 2rem auto 2rem;
        background-color: rgba(0,0,0,.02);
        box-shadow: 0 .5rem .4rem rgba(0,0,0, .1);
        border-radius: 2px;

        @include respond(big-desktop) {
            width: 83%;
        }
        @include respond(tab-land) {
            width: 82%;
        }
        @include respond(tab-port) {
            width: 100%;
        }
        
        @include respond(phone) {
            width: 100%;
            min-height: 60vh;
        }
        
    }
    &nav {
        display: flex;

        &__wrapper {
            display: block; 
            width: 100%; 
            background-color: white;
        }
    }
    &tabs {
        padding: 15px;
        text-align: center;
        width: 15%;
        cursor: pointer;
        box-sizing: content-box;
        position: relative;
        background-color: white;
        outline: none;
        border: none;
        
    }
    &container {
        flex-grow: 1;
        &__content {
            // background: white;
            padding: 2rem;
            width: 100%;
            height: 100%;
            display: none;
            background-color: transparent;
        }
    }
}

.active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;

    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 2px);
        height: 2px;
        background: rgb(88, 147, 241);
      }
  }
 
  .active-content {
    display: block;
  }


